.title{
  text-align: center;
  font-family: 'MyWebFont', sans-serif;
}
.left p {
    font-size: 1em;
    text-align: justify;
    font-family: 'MyWebFont', sans-serif;
}


.about {
    height: 50%;
    transform: translateY(50%);
}