.container {
  // transform: translateY(calc(64px + (60vh - 64px)/2));
  height: 40vh;
}
.card-responsive {
  max-width: 600px;
  margin: auto;
  display: block;
}

md-card-title {
  font-family: 'Avenir_Next_New_Regular', Fallback, sans-serif !important;
}

md-input {
  width: 100%;
}
