<div class="container about">


  <div class="row ">
    <div class="col-sm-12 left">

      <md-card class="footer">
        <md-card-content>

          <h2>Hire-me</h2>
          <md-input placeholder="First name" style="width: 100%"></md-input>
          <form>
            <table style="width: 100%" cellspacing="0">
              <tr>
                <td>
                  <md-input placeholder="First name" style="width: 100%"></md-input>
                </td>
              </tr>
              <tr>
                <td>
                  <md-input placeholder="Email" style="width: 100%"></md-input>
                </td>
              </tr>
              <tr>
                <td>
                  <md-input placeholder="Subject" style="width: 100%"></md-input>
                </td>
              </tr>
            </table>

			<button>HIRE-ME</button>
          </form>
        </md-card-content>
      </md-card>

    </div>


  </div>

</div>