<div class="container">
  <div class="row">
    <h2>Lets work together!</h2>
  </div>
  <div class="row">

<md-card class="demo-card demo-basic">
      <md-card-content>

        <h2>dasfsdf</h2>
        <md-input placeholder="First name" style="width: 100%"></md-input>
        <!--<form>
          <table style="width: 100%" cellspacing="0">
            <tr>
              <td>
                <md-input placeholder="First name" style="width: 100%"></md-input>
              </td>
            </tr>
            <tr>
              <td>
                <md-input placeholder="Email" style="width: 100%"></md-input>
              </td>
            </tr>
            <tr>
              <td>
                <textarea placeholder="Subject" style="width: 100%"></textarea>
              </td>
            </tr>
          </table>
        </form>-->
      </md-card-content>
    </md-card>

  </div>
</div>
<div class="foot row">
  <h2> Powered by Angular2.</h2>
</div>