.title{
  text-align: center;
  font-family: 'MyWebFont', sans-serif;
}
.left p {
    font-size: 1em;
    text-align: justify;
    font-family: 'MyWebFont', sans-serif;
}


.namedropContainer {
  text-align: center
  }

.namedrop {
    width: 10%;
    display: inline-block
  }