<div class="container about">


  <div class="row ">
    <div class="col-sm-12 left">
      <md-card>
        <h2>About</h2>
        <p>I have graduated as a Civil Engineer, but nowadays I code for living. A Fluent Python and Golang backend
          developer as well as a newcomer to Swift & Typescript. Have a keen for real-time time web, websockets, pub-sub
          channels or anything that make the
          web more real and less ping-pong like. I am passionated about Iot, Arduino, you can check some of my work on this
          field on the next section. Linux user for 10+ years. You can always find my at the Kubernetes channel at Slack or at the
          Angular one at Gitter. These are the technologies I have chosen to develop my bit of the web. Where I sit comfortable with with, my toolkit.
        </p>


        <div class="namedropContainer container">
            <img class="namedrop" href="https://github.com/coreos/" src="assets/img/globe-only.svg" alt="Kiwi standing on oval">
            <img class="namedrop" href="https://github.com/docker/docker" src="assets/img/docker.svg" alt="Kiwi standing on oval">
            <img class="namedrop" href="https://github.com/kubernetes/kubernetes" src="assets/img/nav_logo.svg" alt="Kiwi standing on oval">
            <img class="namedrop" href="https://github.com/golang" src="assets/img/gopher.svg" alt="Kiwi standing on oval">
            <img class="namedrop" href="https://www.mongodb.com/" src="assets/img/mongo.svg" alt="Kiwi standing on oval">
            <img class="namedrop" href="http://redis.io/"  src="assets/img/redis.svg" alt="Kiwi standing on oval">
            <img class="namedrop" href="https://github.com/angular/angular" src="assets/img/angular-2.svg" alt="Kiwi standing on oval">
            <img class="namedrop" href="http://www.apple.com/swift/"  src="assets/img/swift_logo.svg" alt="Kiwi standing on oval">
        </div>
      </md-card>

    </div>


  </div>

</div>