<div class="container">
	<md-card class="custom-font card-responsive">
		<md-card-title-group class="responsive">
			<img md-card-avatar src="{{project.logo}}">
			<a href="{{link}}"><md-card-title >{{project.title}}</md-card-title></a>
			<md-card-subtitle >{{project.subtitle}}</md-card-subtitle>
		</md-card-title-group>
		<img class="cover-photo" md-card-image src="{{project.img}}">
		<md-card-content class="responsive">
			<p>{{project.description}}</p>
		</md-card-content>
	</md-card>
</div>