@import "../../../styles";

$photo-url: '/assets/img/selfie.jpg';



:host {
  background-color: $primary-color;
  text-align: center;
  display:block;
  .top-layer{
    height: 15vh;
  }
  .photo {

    height: 65vh;
    background: url($photo-url) no-repeat fixed center;
    width: 70vw;
    margin-left: 15vw;
  }

  .caption{
    height: 20vh;
    color: white;
    padding-top: 5vh;
  }
}