<div mnFullpage [mnFullpageNavigation]="true" [mnFullpageKeyboardScrolling]="true">
	<cover class="section"></cover>
	<about class="section"></about>
	<div class="section">
		<div class="slide" style="background-color: green;">
			<project [title]="title" [description]="'a gulp plugin tharocks your world'"></project>
			<h2>blog.cescoferraro.xyz</h2>
		</div>
		<div class="slide" style="background-color: green;">
			<project [title]="'jksdnfjnsdfk'" [description]="'sdfsdfdsfsdf'"></project>
			<h2>blog.cescoferraro.xyz</h2>
		</div>
	</div>
	<footer class="section"> </footer>
</div>