<h2 class="name center">Francesco Antonello Ferraro</h2>
<hr class="lines">
<div class="personal-info center row">
	<h6>Rua Dr. Vale 605/1001 - Moinhos de Vento - Porto Alegre - RS</h6>
	<h6>(51)8445-7005 | francescoaferraro@gmail.com | www.cescoferraro.xyz/eng</h6>
	<h6>28 anos - Brasileiro/Italiano - Solteiro - Disponível para viagens e mudança</h6>
</div>
<hr class="lines">

<br>
<div class="objective">
	<h5>
		<u>OBJETIVO:</u>
	</h5>
	<blockquote>Carreira desenvolvida na área de Engenharia Civil, com experiência no acompanhamento,porém com ênfase no planejamento e controle de obras.
		Especialista em software específicos (BIM) visando uma melhor precisão dos dados levantados a fim de diminuir custos, reduzir o retrabalho no intuito de
		cumprir acordos com os custose prazos estabelecidos pela organização.
	</blockquote>
</div>


<br>
<h5>
	<u>RESUMO DAS QUALIFICAÇÕES:</u>
</h5>

<div class="job">
	<div class="row">
		<div class="col-xs-3">
			06/2014 a 06/2016
		</div>
		<div class="col-xs-9">
			<p>
				<bold>Cassano Administradora de Bens Ltda.</bold> <br> Empresa de pequeno porte do segmento de contrução residencial. <br>
				<b>Engenheiro Civil</b>
			</p>
		</div>
	</div>
	<div class="row">
		<ul>
			<li type="square">Vivência no planejamento e execução de construções, ampliações e reformas, atuando ainda na realização de estudos
				de características e especificações para orientação de obras, focando o atendimento dos cronogramas estabelecidos.</li>
			<li type="square">Elaboração e execução do Planos de Prevenção contra Incêndio (PPCI) além da responsabilidade pela edificações.</li>
		</ul>
	</div>

</div>


<hr class="lines">

<div class="job">
	<div class="row">
		<div class="col-xs-3">
			01/2010 a 12/2012
		</div>
		<div class="col-xs-9">
			<p>
				<b>Produ'Shopping Empreendimentos e Participações Ltda</b> <br> Empresa de médio porte do segmento de gerenciamento de
				Grandes Obras. <br> Obra do Barra Shopping Sul - Porto Alegre <br>
				<b>Estágiário de Engenheiro Civil no setor de Planejamento</b>
			</p>
		</div>
	</div>
	<div class="row">
		<ul>
			<li type="square">Habilidade na realização de medições, assim como na preparação de relatórios técnicos, avaliando os recursos disponíveis
				e os procedimentos mais adequados ao tipo de projeto conduzido.</li>
			<li type="square">Elaboração de plantas `as-build` e diário de obra. </li>
			<li type="square">Acompanhamento diários do estoque de materiais, a fim de cruzar informações obtidas nos quantitativos também elaborados
				por mim para evitar disperdício de insumos. </li>
		</ul>
	</div>
</div>

<hr class="lines">

<div class="job">
	<div class="row">
		<div class="col-xs-3">
			01/2010 a 12/2012
		</div>
		<div class="col-xs-9">
			<p>
				<b>Amanco S./A.</b> <br> Empresa de médio grande do segmento de instalações hidráulicas. <br>
				<b>Estágiário de Engenheiro Civil</b>
			</p>
		</div>
	</div>
	<div class="row">
		<ul>
			<li type="square">Facilitar a comunicação entre empresa, setor de vendas, e todas as obras de grande clientes, como Goldsztein, Rossi e
				Arquisul, reportando e identificando possíveis falhas nos serviços prestados diretamente com os engenherios e responsáveis
				pela execução dos serviços hidráulicos .</li>
			<li type="square">Elaboração e organização dos pedidos desses mesmos clientes a fim de agilizar a entrega dos materiais mais urgentes nos
				canteiros de obra e diminuir custos de transporte para a Amanco.</li>

		</ul>
	</div>
</div>

<br>
<h5>
	<u>FORMAÇÃO ACADÊMICA:</u>
</h5>
<p> Graduação em Engenharia Civil - concluída em 6/2013
	<br> Universidade Federal do Rio Grande do Sul - UFRGS </p>

<h5>
	<u>FORMAÇÃO COMPLEMENTAR:</u>
</h5>

<p>MBA em Grenciamento Construtivo na UCLA - concluída em 12/2014
	<br> Universidade Católica de Los Angeles - UCLA
	<br> Segurança em Trabalho em Altura | NR10 </p>
<h5>
	<u>IDOMAS</u>
</h5>
<p>Inglês - Bilíngue
	<br>Espanhol - Intermediário</p>

<h5>
	<u>INFORMÁTICA</u>
</h5>
<p>Amplo conhecimento em Autocad, Oracle Primavera, MS Project e Revit.
<br>Entusiasta da implementação processo BIM na construção civil.
	<br> Experiência profissional em desolvimento web (Java/Golang/Python)</p>