@import "../../styles";

:host{
  .container{
    md-card-title-group a {
      color: $primary-text-color;
    }
    md-card-content {
      font-family: 'Avenir_Next_New_Regular' !important;
    }
    md-card-title {
      font-family: 'Avenir_Next_New_Regular' !important;
    }
    md-card-subtitle {
      font-family: 'Avenir_Next_New_Regular' !important;
    }
  }
}

