<div class="container">
<md-card>
   <md-card-header>
      <img md-card-avatar src="{{logo}}">
      <md-card-title>{{title}}</md-card-title>
      <md-card-subtitle>Header subtitle</md-card-subtitle>
   </md-card-header>
   <img md-card-image src="{{img}}">
   <md-card-content>
      <p>{{description}}</p>
   </md-card-content>
</md-card>
	<!--<div class="header">
		<h2><a href="link">{{title}}</a></h2>
	</div>
	<div class="logo">
		<div class="col-xs-4"></div>
		<div class="col-xs-4">
			<a href="{{link}}">
				<img src="https://camo.githubusercontent.com/0a9ce533243ea122eb9fba3f93efb5426cc8b6e1/68747470733a2f2f7261772e6769746875622e636f6d2f616c7661726f747269676f2f66756c6c506167652e6a732f6d61737465722f6578616d706c65732f696d67732f696e74726f2e706e67"
					alt="">
			</a>
		</div>
		<div class="col-xs-4"></div>
	</div>
	<div class="caption">
		<p>{{description}}</p>
	</div>-->

</div>