@import "../../../styles.scss";

.md-yeah{
  background-color: $dev-primary-color-dark;
  position: fixed;
  z-index: 1;
  .toolbar-title a{
    color: $primary-color-text;
  }
  .fill-space {
    flex: 1 1 auto;
  }
  .toolbar-icons {
    color: $primary-color-text;
  }
}


