/* You can add global styles to this file, and also import other style files */
@import "../node_modules/breakpoint-sass/stylesheets/_breakpoint";
@import "./material.icons";

@font-face {
  font-family: 'Avenir_Next_New_Regular';
  src: url('assets/fonts/Avenir_Next_New_Regular.ttf');
}
body {
  background-color: rgb(245, 245, 245);
  font-family: 'Avenir_Next_New_Regular', Fallback, sans-serif !important;
}

$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #9E9E9E;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

